.cart-items-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px 10%;
    flex-wrap: wrap;
}
.fa-xmark{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
.itemCards{
    width: 40%;

}
.itemCard{
    position: relative;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px gainsboro;
}

.itemCard{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.prod-cart-image{
    width: 100px;
}

.cart-company-name{
    margin-top: 10px;
    font-size: 15px;
}

.cart-item-name{
    font-size: 13px;
    color: gray;
}

.cart-return{
    font-size: 13px;
    margin-block: 6px;
}
.cart-return .return-date{
    font-weight: 700;
}
.cart-delivery{
    font-size: 11.5px;
}
.cart-delivery .delivery-date{
    font-weight: 700;
    color: rgb(21, 191, 21);
}

.summary{
    width: 30%;
    height: 250px;
    box-shadow: 2px 2px 2px 2px gainsboro;
    padding: 20px;
}
.price-detail{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.MRP{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.discount-MRP{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.convenience-fee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block: 10px;
}
.order-btn{
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.order-btn:hover{
    background-color: rgb(40, 135, 40);
}